html,body{
    margin: 0;
    padding: 0;
}
header{
    left:0;
    right:0;
    top:0;
    height:10%;
}


/* Återanvändbara kodstycken */
.flex{display:flex}
.align-center{align-items: center;}
.justify-center{justify-content: center;}
.absolute{position: absolute;}
.fixed{position:fixed}